*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(15, 70px);
}

#score, 
#startmsg, 
#startheader, 
#timer, 
#score,
#label,
#startmsg, 
#hiScore {
    text-align: center;
}

#startmsg {
    /* background-color: aqua; */
    color: blue;
    font-size: 22px;
    grid-column: 3 / span 3;
    grid-row: 4;
}

#startheader {
    font-size: 30px;
    grid-column: 3 / span 3;
    grid-row: 3;
}

#hiScore {
    grid-column: 2;
    grid-row: 1;
}

#score {
    grid-column: 4;
    grid-row: 1;
}

#timer {
    grid-column: 6;
    grid-row: 1;
}

#question {
    grid-column: 3 / span 2;
    grid-row: 3;
    font-size: 26px;
    /* background-color: lightseagreen; */
}

#answ1 {
    grid-column: 3;
    grid-row: 4;
}

#answ2 {
    grid-column: 3;
    grid-row: 5;
}

#answ3 {
    grid-column: 3;
    grid-row: 6;
}

#answ4 {
    grid-column: 3;
    grid-row: 7;
}
.responses {
    /* background-color: aqua; */
} 

.responses:hover {
    color: white;
    text-decoration: underline;
    font-weight: bold;
    background-color: blue;
}

#correct {
    grid-column: 4;
    grid-row: 4;
    text-align: center;
    font-size: 30px;
    color: blue;
    font-weight: bold;
}

#label {
    grid-column: 4;
    grid-row: 6;
    font-size: 24px;
    font-weight: bold;
}

#initials {
    grid-column: 4;
    grid-row: 7;
    font-size: 20px;
    height: 30px;
    width: 100%;
    text-align: center;
}

#scoreBtn {
    grid-column: 4;
    grid-row: 8;
}

#start {
    grid-column: 4;
    grid-row: 8;
}

#goBack {
    grid-column: 2;
    grid-row: 8;
}

#hiScore {
    grid-column: 4;
    grid-row: 8;
}

#clearScores {
    grid-column: 6;
    grid-row: 8;
}

#daHsView {
    grid-column: 2;
    grid-row: 1;
}